*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 
    min-height: 100vh;     
    background-color: rgb(38, 216, 157);
}


.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(120, 124, 148);
}

.cabecalho .itens-esquerda, .cabecalho .itens-direita {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cabecalho img { 
    width: 20px;
    font-size: 14px;   
    background-color: aliceblue;

}

.cabecalho .avatar {   
    
    border-radius: 10px;
    
}

p{
    color: white;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p span{
    color: rgb(204, 243, 34);
    font-size: 20px;
    padding: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif,sans-serif;
}


h1{
    font-size: 50px;
    margin: 15px;
}
.carrossel{
    box-shadow: 10px 10px 10px black;
    overflow: hidden;    
    width: 500px;
    height: 500px;

}
.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
   
}

.figura{
    object-fit: cover;
    height: 500px;
    width: 500px;
    margin: 5px;
    padding-right:15px;
}


